@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../public/font/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: SpaceGrotesk !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box !important;
}

.x-home {
  background-image: url('/public/img/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canvasjs-chart-credit {
  display: none;
}

.chart {
  grid-area: chart;
  .period {
    display: flex;
    height: 100%;
    
    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--line);
    }
    span {
      display: block;
      padding: 0.5em 0.5em;

      &.active {
        color: var(--link);
      }
    }
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1;
  }
}

.cmd {
  cursor: pointer;
  &:hover {
    color: var(--link);
  }
}
/* 
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(43, 42, 42, 0.3);
	background-color: #555;
} */